<div class="footer text-center">
      <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-3">
              <div>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-2 col-sm-3">
              <div>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-2 col-sm-3">
              <div>
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-2 col-sm-3">
              <div>
                <a href="#">
                  <i class="fa fa-youtube"></i>
                </a>
              </div>
            </div>
          <p>page de test !</p>
        </div>
      </div>
    </div>
